/* Fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ecf0f1;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* User info (Avatar + Nombre) */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el avatar y el nombre horizontalmente */
  justify-content: center; /* Centra el avatar y el nombre verticalmente */
  margin-bottom: 20px;
}

.user-avatar {
  width: 80px; /* Aumentar el tamaño del avatar para mejor visibilidad */
  height: 80px;
  background-color: #ffffff;
  background-image: url('User2.jpg'); /* Cambia la ruta de la imagen del avatar */
  background-size: cover;
  background-position: center;
  border-radius: 50%; /* Avatar circular */
  margin-bottom: 10px;
}

.user-info p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #fff;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #2C3E50;
  color: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido en la barra lateral */
  padding-top: 20px;
}

.sidebar h2 {
  font-size: 2rem;
  color: #1ABC9C;
  margin-bottom: 50px;
  text-align: center; /* Centrar el texto del título */
}

/* Menú */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los botones del menú */
  width: 100%;
}

.menu .menu-item {
  background-color: #34495E;
  border: none;
  color: #ecf0f1;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 10px;
  width: 80%;
  text-align: center;
  transition: background-color 0.3s ease;
}

.menu .menu-item:hover {
  background-color: #1ABC9C;
}

/* Botón de logout */
.logout {
  margin-top: auto;
  background: none;
  border: none;
  color: #e74c3c;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout:hover {
  color: #c0392b;
}

/* Área de contenido principal */
.content {
  flex: 1;
  padding: 40px;
  background-color: #ffffff;
  overflow-y: auto;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.content-header h1 {
  font-size: 2rem;
  color: #2C3E50;
}
